<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kowhai_test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <kowhai_test.Settings>
            <setting name="VendorID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProductID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UsagePage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Usage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReportID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReportPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportSize" serializeAs="String">
                <value>0</value>
            </setting>
        </kowhai_test.Settings>
    </userSettings>
</configuration>